{{- if .Values.dbMigrationJob.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-db-migration-{{ now | unixEpoch }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  backoffLimit: {{ .Values.dbMigrationJob.backoffLimit }}
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: db-migration
        image: {{ .Values.dbMigrationJob.image }}
        command: ["/bin/sh", "-c", "echo 'Running database migrations...' && sleep 5 && echo 'Migration complete'"]
        env:
        - name: DB_HOST
          value: {{ .Release.Name }}-service-db
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-secret
              key: password
{{- end }}
